<mat-card>
  <div class="mainclass">
    <div class="childclass childclass1">
      <p><span>Height: </span>{{ curentVisitDetails.height }}</p>
      <p><span>Weight : </span>{{ curentVisitDetails.weight }}</p>
      <p>
        <span> Respiration Rate: </span>{{ curentVisitDetails.respirationRate }}
      </p>
      <p>
        <span>Body Temperature : </span>{{ curentVisitDetails.bodyTemparature }}
      </p>
      <p>
        <span> Blood Pressure Systolic: </span
        >{{ curentVisitDetails.bpSystolic }}
      </p>
      <p>
        <span> Blood Pressure Diastolic: </span
        >{{ curentVisitDetails.bpDiastilic }}
      </p>
      <p><span> Allery: </span>{{ curentVisitDetails.allergyName }}</p>
      <p><span> Notes: </span>{{ curentVisitDetails.keyNotes }}</p>
    </div>
  </div> </mat-card
> 
